{
	"includes": [ "extensions/ledStrip.h" ],

	"extensions": [{
		"menus": null,
		"extensionName": "led strip extension",
		"blockSpecs": [["", "declare %n lights", "initStrip", "10"],
			["", "switch off", "setStripOff"],
			["", "set all to color %n", "setStripAll", 80],
			["", "set colors to %s", "setStripColors", "0"],
			["", "set light to %n", "setStripLight", "100"]]
	}],

	"alreadyDefined": {
		"lampe": true
	}
}
